{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="content_main">
    <div class="container">
        <h1>Продукты</h1>

        <div id="product-list" class="mb-4">
            {% for product in products %}
            <div class="card mb-3">
                <div class="card-body">
                    <h3>{{ product.name }}</h3>
                    <p>{{ product.description }}</p>
                    <p>Цена: {{ product.price }} р.</p>
                </div>
            </div>
            {% empty %}
            <p>No products available.</p>
            {% endfor %}
        </div>

        <h2>Добавить новый продукт</h2>
        <form id="product-form" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <!-- Это отобразит форму с валидацией и ошибками -->
            <button type="submit" class="btn btn-primary">Добавить</button>
        </form>


    </div>
</div>

{% endblock %}